.p1{
    font-family: Nunito Sans;
font-size: 24px;
font-weight: 800;
line-height: 32.74px;
text-align: left;
color: white;
margin-left: 80px;
}
.p2{
    font-family: Nunito Sans;
font-size: 16px;
font-weight: 600;
line-height: 21.82px;
text-align: left;
color: white;
margin-top: -4%;
}
.d1{
    display: flex;
margin-right: 80px;


}
.i1{
    width: 20%;
    height: 20%;
}
.p3{
    font-family: Nunito Sans;
font-size: 14px;
font-weight: 400;
line-height: 20px;
text-align: left;

width: 90%;
height: 3vh;
border: none;
background-color: transparent;
outline: none;
color: white;
text-decoration: none;
margin-left: 5%;
}
.d2{
    width: 10%;
    height: 6vh;
    margin-top: 128px;
    margin-left: 80px;  
  background-color: #2B3844;
 display: flex;
 align-items: center;
border-radius: 5px;
margin-top: 3%;
}
.i2{
    margin-left: 4%;
    margin-right: 4%;
}

body{
    background-color: 
    #202C36;
}
.i11{
    width:34%;
    height: 37vh;
}
.i1{
    width: 2%;
    height: 2%;
 margin-left: 90%;
 margin-top: -4%;
}
.i22{
 
        width: 25%;
        height:25vh;
    margin-left: 10%;
    margin-top: 2%;
}
main{
    display: flex;
   margin: 5%;
}
@media(max-width:430px){
    .d3{
        display: flex;
        flex-direction: column;
    }
    .d2{
        margin-left: 7.5%;
        
    }
    .p3{
        font-size: 11px;
    }
    .p1{
        font-family: Nunito Sans;
    font-size: 14px;
    font-weight: 800;
    line-height: 32.74px;
    text-align: left;
    color: white;
    margin-left: 8%;
    margin-right: -10%;
    }
    .p2{
        font-family: Nunito Sans;
    font-size: 11px;
    font-weight: 600;
    line-height: 21.82px;
    text-align: right;
    color: white;
   margin-right: -99%;
   margin-left: 10%;
    }
    .i1{
        width: 18%;
        height: 18%;
     margin-left: 90%;
     margin-top: 4%;
    }
.d2{
    width: 20%;
}
.i11{
    width:95%;
    height: 30vh;
    margin-left: -2%;
}
.i22{
 
        width: 95%;
        height:25vh;
    margin-left: 1%;
    margin-top: 2%;
}
main{
    display: flex;
    flex-direction: column;
}
}